name: Test With Bats in Ubuntu

on: workflow_call

jobs:
  bats-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: deb-deliverables
          path: ./

      - run: |
          sudo apt-get update
          sudo apt-get upgrade -y
      - run: sudo ./scripts/bats-prepare-deb.sh
      - run: ./scripts/bats-run.sh

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: bats-test-results-deb
          path: |
            ./bats-test-*
