name: Gradle Build

on: workflow_call

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - run: ./gradlew build

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: distributionsZip
          path: |
            ./path2json/build/distributions/path2json-*.zip
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: fatJar
          path: |
            ./path2json/build/libs/path2json-*-all.jar
      - run: ./scripts/build-deb.sh
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: deb-deliverables
          path: |
            ./*.deb
            ./*.deb.*sum
      - run: ./scripts/build-rpm.sh
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: rpm-deliverables
          path: |
            ./*.rpm
            ./*.rpm.*sum
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: build-info
          path: |
            ./path2json/build
