name: Gradle Build

on: workflow_call

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - run: ./gradlew build
      - uses: actions/upload-artifact@v5
        with:
          name: distributionsZip
          path: |
            ./path2json/build/distributions/path2json-*.zip
      - uses: actions/upload-artifact@v5
        with:
          name: fatJar
          path: |
            ./path2json/build/libs/path2json-*-all.jar
      - run: ./scripts/build-deb.sh
      - uses: actions/upload-artifact@v5
        with:
          name: deb-deliverables
          path: |
            ./*.deb
            ./*.deb.*sum
      - run: ./scripts/build-rpm.sh
      - uses: actions/upload-artifact@v5
        with:
          name: rpm-deliverables
          path: |
            ./*.rpm
            ./*.rpm.*sum
      - uses: actions/upload-artifact@v5
        with:
          name: build-info
          path: |
            ./path2json/build
